@font-face{font-family:'Glyphicons Halflings';src:url('http://originweb.loc/secure/public/assets/css/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
url('http://originweb.loc/secure/public/assets/css/fonts/glyphicons-halflings-regular.woff') format('woff'),
url('http://originweb.loc/secure/public/assets/css/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
url('http://originweb.loc/secure/public/assets/css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');src:url('http://originweb.loc/secure/public/assets/css/fonts/glyphicons-halflings-regular.eot')}body{background:#f5f5f5}a{text-decoration:none;color:#4169e1}a:hover{text-decoration:none;color:#dc143c}.error{display:inline-block;float:left;color:red}.success{display:inline-block;float:left;color:#9bba1c}.margin-top-1{margin-top:1em}.margin-top-2{margin-top:2em}.margin-bottom-1{margin-bottom:1em}.margin-bottom-2{margin-bottom:2em}.form-control,
.btn,
.dropdown-menu,
.modal-content,
.badge,
.label,
.input-group-addon,
code{border-radius:0}.badge,
.label{font-weight:normal;text-shadow:none}.monstra-blog-title{margin-bottom:0}.monstra-blog-title
a{color:#333}.monstra-blog-post{margin-top:10px;margin-bottom:10px}a.monstra-blog-tag{float:left;padding:5px;text-decoration:none}.masthead{background:-webkit-linear-gradient(45deg, #412e4c, #a56365, #b39c68);background:-moz-linear-gradient(45deg, #412e4c, #a56365, #b39c68);background:-o-linear-gradient(45deg, #412e4c, #a56365, #b39c68);background:linear-gradient(45deg, #412e4c, #a56365, #b39c68)}.navbar{margin-bottom:0;border:0;border-radius:0;background-color:transparent;background-color:#fff}.navbar-nav{float:right}.icon-bar{background:#333}.navbar-nav
a{color:#696969}.navbar-nav > li > a:hover{color:#000;background:transparent}.navbar-nav a:hover{color:#000;background:transparent}.navbar-nav > li.active > a{color:#000;background:transparent}a.navbar-brand{font-size:36px;color:#000}.navbar
.container{margin-top:20px;margin-bottom:20px}.page-header{margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto;padding-top:5px;padding-bottom:5px;color:#fff;border:none;border-bottom:none}.page-header
h1{font-size:40px;margin-top:20px;margin-bottom:20px;text-align:left}.tags
.label{font-size:14px}.container-wide{padding-top:20px;padding-bottom:20px;background:#fff}footer{margin-top:20px;margin-bottom:20px;color:#aaa}@media (max-width: 600px){.navbar-nav{float:left}}