@import "main.css";

.brand-logo {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  height: 100px;

  img {
    height: 100%;
    max-height: 50px;
  }
}

.projects-container .projects-element .project {
  background-size: cover !important;
}

.mac-preview {
  text-align: center;
  margin-bottom: 30px;

  img {
    width: 100%;
    max-width: 800px;
  }
}

.screen-img {
  text-align: center;

  img {
    width: 95%;
  }
}

.images-block {
  padding-top: 45px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  &:before {
    bottom: 30px;
    right: -60px;
  }

  &:before, &:after {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    background: #357afb;
    position: absolute;
    display: block;
    content: "";
  }

  &:after {
    top: 0;
    left: -60px;
    z-index: -1;
  }

  .item {
    position: relative;
    padding: 5px;
    overflow: hidden;
    width: 50%;
    height: 390px;

    img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// Buttons

.button-blue, .button-white {
  display: inline-block;
  text-transform: uppercase;
  width: 200px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  letter-spacing: 4px;
  text-align: center;
  -webkit-transition-duration: .5s;

  &:hover {
    -webkit-box-shadow: 0 10px 28px 5px rgba(55, 125, 255, .36);
    box-shadow: 0 10px 28px 5px rgba(55, 125, 255, .36)
  }
}

.button-white {
  margin-right: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #377dff;
  color: #377dff;
  transition-duration: .5s;
}

.button-blue {
  background: #377dff;
  border-radius: 5px;
  border: 2px solid #377dff;
  color: #fff;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;

  &:hover {
    color: #fff;
  }
}

// Modal

.modal-body {
  p {
    text-align: center;
  }
}

// Input
input, textarea {
  padding-left: 20px;
  padding-right: 20px;
}

textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

// Helpers
.width100 {
  width: 100%;
}

.how-it-works-list {
  div {
    position: relative;

    .icon {
      position: absolute;
      left: 0;
      top: 4px;
      width: 34px;
      height: auto;
    }

    p.montserrat {
      font-size: 18px;
      padding: 0 5% 0 40px;
    }
  }
}

// Pricing
.pricing-table {
  display: table;
  width: 100%;
  margin: 50px 0 80px 0;

  div {
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    padding: 40px 0;
    float: none;

    h3 {
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      border: 1px solid #d1d1d1;
      background-color: #f5f5f5;
    }

    &:nth-child(even) {
      position: relative;

      div {
        position: absolute;
        border: none;
        top: -10px;
        right: -5px;
        bottom: -10px;
        left: -5px;
        z-index: 999;
        padding: 50px 0;
        background-color: #fff;
      }
    }

    ul {
      li {
        margin: 10px 0;

        &:before {
          content: '✓';
          color: green;
          margin-right: 5px;
        }

        &.none {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

// Mobile version
@media (max-width: 768px) {
  .brand-logo {
    width: 100%;
    text-align: center;
  }

  .hero-text, .hero-text div {
    text-align: center !important;

    .mail {
      justify-content: center !important;
    }

    .buttons {
      display: none !important;
    }
  }

  .tabs {
    .tab {
      display: inline-block !important;

      a {
        padding: 0 5px !important;
        font-size: 16px !important;
        &:after {
          display: none !important;
        }
      }
    }
  }

  .contact .map, .contact form {
    padding-top: 0;
  }

  .section-title {
    margin-bottom: 25px !important;
  }

  .projects-container {
    &:after {
      top: -22px;
      left: -70px;
      z-index: -1;
    }
    &:before {
      bottom: -50px;
    }
  }

  .pricing-table {
    display: block;

    div {
      display: block;

      &:nth-child(even) {
        div {
          position: relative;
          left: 0;
          right: 0;
          margin: -40px 0 -60px 0;
        }
      }
    }
  }
}

form button:disabled, form button.success {
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  color: rgba(0, 0, 0, .87);
}

form button.success {
  &:before {
    content: '\2713';
    display: inline-block;
    color: green;
    margin-right: 5px;
  }
}